-Built-in GUI
	-Interface uses 20x4 char HD44780 display + 2x encoders with push buttons
	-Each line on the display is one channel:
		 12345678901234567890
		11 +12.04V +5.000A  ^
		22  +3.31V -0.020A
		33  +1.80V +0.000A
		44  +5.00V +2.358A  v
	 (Note the first char on each line is the channel number).
	-In normal (state == locked) operation, the display will show the actual measurements for voltage / current
	-To get into 'set' mode (state == unlocked), hold encoder 1 for 2+ seconds
		-In set mode, a cursor will appear beside an item in a channel:
			 12345678901234567890
			11#+12.04V +5.000A  ^
			22  +3.31V -0.020A
			33  +1.80V +0.000A
			44  +5.00V +2.358A  v
		-The cursor will show the channel / item which is to be modified
		-Use encoder1 to change selection
		-Press encoder1 again to start editing
		-When editing, there are brackets around the item which is being edited:
			 12345678901234567890
			11 +12.04V +5.000A  ^
			22[ +3.31V]-0.020A
			33  +1.80V +0.000A
			44  +5.00V +2.358A  v
		-While editing, encoder 1 modifies the integer portion (step 1) and encoder 2 modifies in increments of 2 decimal places (step 0.01)
		-Settings immediately take effect
		-When done editing, press encoder 1 to go back to edit menu
		-Repeat selection and edit as desired.  Hold encoder1 to return to lock (normal) mode.  The cursor will disappear.
	-To get into 'menu' mode, press and hold encoder 2 for 2+ seconds (from the normal mode)
		-In menu mode, you see different options, with a cursor beside the selected one:
			 12345678901234567890
			1#Menu option 1
			2 Menu option 2
			3 Menu option 3
			4 Menu option 4
		-Turn encoder 1 to navigate
		-Tap encoder 1 to enter / modify / perform a menu item (exact meaning depends on menu semantics)
		-Once in a menu item, turn encoder 2 to change values (optional, depending on menu semantics)
		-Tap encoder 2 to apply menu item (enter)
		-Tap encoder 1 to exit menu item (cancel / esc)
		-Some menu options include:
			-Save current values as default (power on default)
			-Save current values to (named?) bank
			-Load current values from bank
			-??????
-USB Operation
	-If a USB cable is plugged in, the program automatically enumerates as a raw HID device
	-Measured values are logged on a repeating basis (1Hz?  10Hz?  What is a reasonable frequency here?  Make it configurable?)
	-Set values can be sent from program
	-Python program used for logging + setting values
	-All menu operations should be supported from USB, allowing for complete computer operation with no external UI.

-Physical connections
	-Each channel has a voltage (either + (red connector) or - (blue connector) depending on the channel type) and a GND (black)
	-In addition, include a +/- 15V connection (+ gnd) directly connected to the internal rails (no current detection)
	-Each channel should have a Load toggle switch to disconnect the supply