[Desktop Entry]
Icon=text-html
Name=http://www.geofex.com/Article_Folders/Spyder/spyder.htm
Type=Link
URL[$e]=http://www.geofex.com/Article_Folders/Spyder/spyder.htm
